// Button style
// - Applies button styles to blocks and elements that share them.
@mixin button-style() {
  position: relative;
  padding: var(--button--padding-vertical) var(--button--padding-horizontal);
  border: 2px solid $button--color-background;
  background: $button--color-background;
  border-radius: var(--button--radius);
  display: inline-block;
  cursor: pointer;
  outline: none;
  font-weight: var(--button--font-weight);
  font-family: $button-font;
  font-size: 2.2rem;
  margin: 1em 0;
  margin-right: 30px;
  text-decoration: none;
  color: $button--color-text;
  transition-duration: 0.2s;
  text-transform: uppercase;
  letter-spacing: 0.02em;

  &:disabled {
    background-color: var(--global--color-white-50);
    border-color: var(--global--color-white-50);
    color: var(--button--color-text-active);
  }

  &:focus {
    background: transparent;
    outline-offset: -6px;
    outline: 2px dotted currentColor;

    &:not(.has-background) {
      color: $button--color-text-hover;
    }
  }
}

@mixin innerblock-margin-clear($container) {

  // Clear the top margin for the first-child.
  > #{$container} > *:first-child {
    margin-top: 0;
  }

  // Last child that is not the appender.
  > #{$container} > *:last-child:not(.block-list-appender) {
    margin-bottom: 0;
  }

  // When selected, the last item becomes the second last because of the appender.
  &.has-child-selected > #{$container} > *:nth-last-child(2),
  &.is-selected > #{$container} > *:nth-last-child(2) {
    margin-bottom: 0;
  }
}

@mixin label_style() {
  background-color: $wit;
  font-size: 0.8em;
  padding: 0 5px;
  margin-left: 10px;
  color: $black1;
}

@mixin slash() {
  content: "";
  width: 10px;
  height: 100%;
  border-right: 2px dotted $black1;
  position: absolute;
  top: 0;
  right: 0;
  transform: none;
  margin-right: 30px;
  opacity: 0.3;
}

@mixin card-in-slider() {
  border: none;
  padding: 0;
  position: relative;
  max-width: calc(100% - 2.6rem);

  .card {
    display: flex;
    border: none;
    flex-direction: column;
    grid-gap: 0;
    align-content: space-between;
    height: 100%;
    width: 100%;
    transition: all 0.2s ease-in-out;

    .thumbnail {
      background-color: darken($black1, 10);
      overflow: hidden;
      max-width: 100%;
      max-height: 130px;

      img {
        max-width: none;
        width: calc(100% + 30px);
        transition: all 0.4s ease-in-out;
      }
    }

    &.medium_large {
      .thumbnail {
        max-height: 530px;

        img {
          //
        }
      }
    }

    &.filmsFeatImg {
      .thumbnail {
        max-height: 330px;

        img {
          //
        }
      }
    }

    .text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.2s ease-in-out;
      padding: 20px;

      a.overlay {
        transition: all 0.2s ease-in-out;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
        }
      }

      h3 {
        font-size: 2rem;
        text-align: center;
        position: absolute;
        top: 40%;
        left: 0;
        width: 100%;
        transition: all 0.2s ease-in-out;
        opacity: 0;
        pointer-events: none;
      }

      .extra {
        font-size: 2rem;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transition: all 0.2s ease-in-out;
        opacity: 0;
        pointer-events: none;

        ul.kijkwijzer {
          padding: 0;
          margin: 0;
          margin-right: 20px;
          display: flex;
          justify-content: flex-end;
          list-style: none;

          li {
            margin-right: -2px;
          }
        }
      }
    }

    .title {
      padding-top: 10px;
      font-size: 0.85em;

      h3 {
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 0;
      }

      div {
        line-height: 1.2em;
        display: none;
      }
    }

    .knoppen {
      display: block;

      a {
        position: relative;
        padding: 2px 10px;
        font-size: 0.8em;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          background-color: $wit;
          color: $black1;
        }
      }
    }

    &:hover {
      .thumbnail {
        img {
          opacity: 0.5;
          transform: translate3d(-20px, 0, 0);
        }
      }

      .text {
        h3 {
          transform: translate3d(0, -50%, 0) translate3d(0, -20px, 0);
          opacity: 1;
          color: $neutral-gray;
        }

        .extra {
          transform: translate3d(0, 0, 0) translate3d(0, -50px, 0);
          opacity: 1;
          color: #fff;
        }
      }
    }
  }
}

@mixin card-outside-slider() {
  border: none;
  padding: 0;
  position: relative;
  max-width: calc(100% - 0.6rem);

  .card {
    grid-gap: 15px;
    align-content: space-between;
    border: 2px solid;
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 3fr 1fr;

    .thumbnail {
      --aspect-ratio: 2/3;

      max-height: 330px;
      grid-row: -1/1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .text {
      h3 {
        font-size: 2rem;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      a.overlay {
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
        }
      }

      .extra {
        ul.kijkwijzer {
          padding: 0;
          margin: 0;
          margin-right: 20px;
          display: flex;
          list-style: none;

          li {
            width: 25px;
          }
        }
      }
    }

    .knoppen {
      display: block;
      grid-column: 2;

      a {
        position: relative;
        padding: 2px 10px;
        font-size: 0.8em;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          background-color: $wit;
          color: $black1;
        }
      }
    }

    &:hover {
      .thumbnail {
        img {
          // opacity: 0.5;
          // transform: translate3d(-20px, 0, 0);
        }
      }

      .text {
        h3 {
          // transform: translate3d(0, -50%, 0) translate3d(0, -20px, 0);
          // opacity: 1;
          // color: $neutral-gray;

          a {
            // transform: translate3d(-40px, 0, 0);
          }
        }

        .extra {
          // transform: translate3d(0, -50%, 0) translate3d(0, -20px, 0);
          // opacity: 1;
          // color: #fff;
        }
      }
    }
  }
}

@mixin card-in-vandaag-slider() {
  border: none;
  padding: 0;
  position: relative;
  max-width: calc(100% - 4.6rem);

  .card {
    display: flex;
    border: none;
    flex-direction: column;
    grid-gap: 0;
    align-content: space-between;
    height: 100%;
    width: 100%;
    transition: all 0.2s ease-in-out;

    .thumbnail {
      background-color: darken($black1, 10);
      overflow: hidden;
      max-width: 100%;

      img {
        max-width: none;
      }
    }

    &.filmsFeatImg {
      .thumbnail {
        max-height: 500px;

        img {
          //
        }
      }
    }

    .text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.2s ease-in-out;
      padding: 20px;

      a.overlay {
        transition: all 0.2s ease-in-out;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
        }
      }

      h3 {
        font-size: 2rem;
        text-align: center;
        position: absolute;
        top: 40%;
        left: 0;
        width: 100%;
        transition: all 0.2s ease-in-out;
        opacity: 0;
        pointer-events: none;
      }

      .extra {
        font-size: 2rem;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transition: all 0.2s ease-in-out;
        opacity: 0;
        pointer-events: none;

        ul.kijkwijzer {
          padding: 0;
          margin: 0;
          margin-right: 20px;
          display: flex;
          justify-content: flex-end;
          list-style: none;

          li {
            margin-right: -2px;
          }
        }
      }
    }

    .title {
      padding-top: 10px;
      font-size: 0.85em;

      h3 {
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 0;
        text-transform: lowercase;
      }

      div {
        line-height: 1.2em;
        display: none;
      }
    }

    .knoppen {
      display: block;

      a {
        position: relative;
        padding: 2px 10px;
        font-size: 0.8em;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          background-color: $wit;
          color: $black1;
        }
      }
    }

    &:hover {
      .thumbnail {
        img {
          opacity: 0.5;
          // transform: translate3d(-20px, 0, 0);
        }
      }

      // .text {
      //   h3 {
      //     transform: translate3d(0, -50%, 0) translate3d(0, -20px, 0);
      //     opacity: 1;
      //     color: $neutral-gray;
      //   }

      //   .extra {
      //     transform: translate3d(0, 0, 0) translate3d(0, -50px, 0);
      //     opacity: 1;
      //     color: #fff;
      //   }
      // }
    }
  }
}

@mixin plusMinus($width, $lineWidth, $color) {
  box-sizing: border-box;
  transition: transform 0.3s;
  width: $width;
  height: $width;
  border-radius: 2px;
  transform: rotate(180deg);
  position: relative;

  &::before {
    content: "";
    display: block;
    width: $width;
    height: 0;
    border-top: solid $lineWidth/2 $color;
    border-bottom: solid $lineWidth/2 $color;
    border-radius: 2px;
    position: absolute;
    bottom: $width /2 - $lineWidth/2;
    transform: rotate(90deg);
    transition: width 0.3s;
  }

  &::after {
    content: "";
    display: block;
    width: $width;
    border-radius: 2px;
    height: 0;
    border-top: solid $lineWidth/2 $color;
    border-bottom: solid $lineWidth/2 $color;
    position: absolute;
    bottom: $width /2 - $lineWidth/2;
  }

  li.open & {
    transform: rotate(0deg);

    &::before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-bottom: solid $lineWidth $color;
      position: absolute;
      bottom: $width /2 - $lineWidth/2;
      transform: rotate(90deg);
    }
  }
}

/**
 * Required Variables
 */

$default_width: 610px;
$max_content_width: 1240px;
$breakpoint_sm: 482px;
$breakpoint_md: 592px;
$breakpoint_lg: 780px;
$breakpoint_xl: 822px;
$breakpoint_xxl: 1200px;

// Responsive breakpoints mixin
@mixin media($res) {
  @if mobile-only == $res {
    @media only screen and (max-width: #{$breakpoint_sm - 1}) {
      @content;
    }
  }

  @if mobile == $res {
    @media only screen and (min-width: #{$breakpoint_sm}) {
      @content;
    }
  }

  @if tablet-only == $res {
    @media only screen and (max-width: #{$breakpoint_md - 1}) {
      @content;
    }
  }

  @if tablet == $res {
    @media only screen and (min-width: #{$breakpoint_md}) {
      @content;
    }
  }

  @if laptop-only == $res {
    @media only screen and (max-width: #{$breakpoint_lg - 1}) {
      @content;
    }
  }

  @if laptop == $res {
    @media only screen and (min-width: #{$breakpoint_lg}) {
      @content;
    }
  }

  @if desktop-only == $res {
    @media only screen and (max-width: #{$breakpoint_xl - 1}) {
      @content;
    }
  }

  @if desktop == $res {
    @media only screen and (min-width: #{$breakpoint_xl}) {
      @content;
    }
  }

  @if wide-only == $res {
    @media only screen and (max-width: #{$breakpoint_xxl - 1}) {
      @content;
    }
  }

  @if wide == $res {
    @media only screen and (min-width: #{$breakpoint_xxl}) {
      @content;
    }
  }
}
