// Button style
// - Applies button styles to blocks and elements that share them.
@mixin button-style() {
  position: relative;
  padding: var(--button--padding-vertical) var(--button--padding-horizontal);
  border: 2px solid $button--color-background;
  background: $button--color-background;
  border-radius: var(--button--radius);
  display: inline-block;
  cursor: pointer;
  outline: none;
  font-weight: var(--button--font-weight);
  font-family: $button-font;
  margin: 1em 0;
  margin-right: 30px;
  text-decoration: none;
  color: $button--color-text;
  transition-duration: 0.2s;

  &:disabled {
    background-color: var(--global--color-white-50);
    border-color: var(--global--color-white-50);
    color: var(--button--color-text-active);
  }

  &:focus {
    background: transparent;
    outline-offset: -6px;
    outline: 2px dotted currentColor;

    &:not(.has-background) {
      color: $button--color-text-hover;
    }
  }
}

@mixin innerblock-margin-clear($container) {

  // Clear the top margin for the first-child.
  > #{$container} > *:first-child {
    margin-top: 0;
  }

  // Last child that is not the appender.
  > #{$container} > *:last-child:not(.block-list-appender) {
    margin-bottom: 0;
  }

  // When selected, the last item becomes the second last because of the appender.
  &.has-child-selected > #{$container} > *:nth-last-child(2),
  &.is-selected > #{$container} > *:nth-last-child(2) {
    margin-bottom: 0;
  }
}
