.template-agenda {
  background-color: $special-gray;

  .page-holder {
    display: block;
    padding-top: $top-marge-transparant;

    .entry-content-agenda > :not(.alignfull) {
      max-width: 960px;
      width: 100% !important;
    }
  }

  .filters {
    h2 {
      font-weight: 400;
    }

    .list {
      display: flex;
      flex-direction: column;

      .option {
        margin-right: 10px;
        text-decoration: none;
        border: 2px dotted $dark-grey;
        padding: 2px 10px;

        &.active {
          font-weight: bold;
          border: 1px solid $dark-grey;
          background-color: #fff;
        }

        &:hover {
          color: $black1;
          background-color: rgba(255, 255, 255, 0.6);
        }
      }

      div.option {
        border-bottom: 2px dotted transparent;

        &:hover {
          border-bottom: 2px dotted transparent;
        }
      }
    }
  }

  .ajax-content {
    padding-top: 3rem;

    h3 {
      display: none;
    }
  }
}
/* stylelint-disable no-descending-specificity */
ul.tickets {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;

  li.ticket {
    justify-content: space-between;
    padding: 15px 0 15px 0;
    font-weight: 400;
    color: #0e0e0e;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px dotted gray;

    &.hidden {
      display: none;
    }

    &.admin {
      background: #f4d1d1;
    }

    &:last-child {
      border-bottom: none;
    }

    &::after {
      // content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.2s;
    }

    &:hover,
    &:focus-within {
      background-color: $wit;

      &::after {
        box-shadow: 0 7px 13px rgba(0, 0, 0, 0.12);
        background-color: #fff;
        transform: scaleX(1.08) scaleY(1.09);
      }

      a.bestellen {
        background-color: $black1;
        color: #fff;
      }
    }

    .text {
      z-index: 1;
    }

    .datum {
      grid-column: 1 /  span 2;
      border-bottom: 1px solid $special-gray;
      color: $black1;
      padding-bottom: 0;

      .datum_notatie {
        font-weight: bold;
      }
    }

    .titel {
      grid-column: 1 /  span 2;
      color: $black1;

      h2 {
        margin: 0;
        font-size: 2.3rem;

        a {
          text-decoration: none;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
          }
        }
      }

      .film-info {
        font-size: 1.6rem;
        text-transform: initial;

        .label {
          @include label_style();

          display: none;
        }

        .special {
          @include button_style();
          @include label_style();

          border: none;

          &:hover {
            background-color: $black1;
            color: $wit;
          }
        }
      }

      small {
        background-color: $wit;
        font-size: 0.7em;
        padding: 0 5px;
        margin-left: 10px;
        color: $black1;
      }
    }

    .zaal {
      grid-column: 1;
      color: $black1;
      align-self: end;

      .tijd {
        font-weight: bold;
        margin-right: 10px;
      }
    }

    .cta {
      grid-column: 2;
      justify-self: end;

      a {
        @include button-style();

        font-size: 1.5rem;
        font-weight: bold;
        margin-right: 0;

        &:hover {
          background-color: $black1;
          color: $wit;
        }
      }
    }
  }
}

ul.films {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;

  li.film {
    display: grid;
    padding: 30px;
    position: relative;
    transition: all 0.2s;

    &:nth-child(2n-1) {
      background-color: darken($special-gray, 3);
    }

    a.tickets {
      @include button_style();

      background-color: $wit;
    }

    &:hover,
    &:focus-within {
      background-color: $wit;

      &::after {
        box-shadow: 0 7px 13px rgba(0, 0, 0, 0.12);
        background-color: #fff;
        transform: scaleX(1.08) scaleY(1.09);
      }

      a.tickets {
        background-color: $black1;
        color: #fff;
      }
    }

    a.overlay {
      text-decoration: none;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}

@media only screen and (min-width: $ipad-width) { //768
  .template-agenda {
    .page-holder {
      .page-header-agenda {
        h1 {
          font-size: $h2-font-size * 1.2;
          line-height: 80px;
          margin: 0 auto;
          margin-bottom: 0;
          max-width: 960px;
        }
      }

      .entry-content {
        min-height: 800px;
        margin-left: 30px;
        margin-right: 30px;
      }
    }

    .filters {
      .list {
        flex-direction: row;
        align-items: center;
      }
    }
  }

  ul.tickets {
    li.ticket {
      grid-template-columns: 170px 135px 1fr 1fr 150px;
      align-items: center;

      &::after {
        content: "";
      }

      .datum {
        grid-column: 1;
        border-bottom: none;
        position: relative;

        &::after {
          @include slash();
        }

        .datum_notatie {
          font-weight: bold;
          display: block;
        }
      }

      .titel {
        grid-column: 3 /  span 2;
        color: $black1;

        h2 {
          margin: 0;
        }

        .film-info {
          font-size: 1.6rem;
          text-transform: initial;
          display: inline-block;
          margin-right: 10px;
        }

        small {
          font-size: 1.6rem;
          background: $wit;
        }
      }

      .zaal {
        grid-column: 2;
        grid-row: 1;
        color: $black1;
        align-self: center;

        .tijd {
          display: block;
          font-weight: bold;
        }
      }

      .cta {
        grid-column: 5;
        justify-self: end;
        grid-row: 1;
      }
    }
  }

  ul.films {
    li.film {
      display: grid;
      grid-template-columns: 4fr 5fr;
      grid-gap: 30px;
    }
  }
}
