.single-festivals {
  background: $festival-grijs;

  p.film-intro {
    font-weight: bold;
  }

  .page-header-film {
    height: 75vh;
  }

  .festival-films {
    overflow: hidden;
    padding-top: var(--global--spacing-vertical);
    padding-bottom: calc(var(--global--spacing-vertical) * 3);

    h2 {
      font-size: $h3-font-size;
    }

    li.film {
      @include card-in-slider();
    }
  }
}
