.single-festivals {
  background: $festival-grijs;

  p.film-intro {
    font-weight: bold;
  }

  .page-header-film {
    height: 75vh;
  }

  .festival-films {
    overflow: hidden;
    padding-top: var(--global--spacing-vertical);
    padding-bottom: calc(var(--global--spacing-vertical) * 3);

    h2 {
      font-size: $h3-font-size;
    }

    li.film {
      @include card-in-slider();
    }
  }
}

p.special-intro {
  background: #c63739;
  font-weight: bold;
  color: white;
  padding: 0 20px;
  display: inline;
  float: left;
  text-transform: uppercase;
  margin-right: 10px;
}

h2.special-intro {
  display: inline;
  line-height: 0.8em;
  margin-bottom: -8px;
  text-align: end;
  transform: translateY(2px);
}
