.single-films {
  p.film-intro {
    font-weight: bold;
  }

  .film-info-kolom {
    margin-top: 5px;
  }

  .block-aangeraden-films {
    display: flex;
    overflow: hidden;
    padding-top: var(--global--spacing-vertical);
    padding-bottom: calc(var(--global--spacing-vertical) * 3);

    .title-element {
      width: 80px;
      background: #fff;

      h2 {
        text-transform: uppercase;
        color: $dark-green;
        font-size: 80px;
        font-weight: 100;
        text-align: left;
        direction: rtl;
        white-space: nowrap;
        transform: rotate(-90deg);
      }
    }

    .content-element {
      padding-left: 30px;
      width: 100%;

      .onderwerp {
        font-size: 4rem;
        font-weight: bold;
        display: block;
        color: $base-color;
        margin-top: calc(var(--global--spacing-vertical) * 1);
        margin-bottom: calc(var(--global--spacing-vertical) * 2);
      }

      li.film {
        @include card-in-slider();
      }
    }
  }
}
