/////////////
//
// Films pagina
//
////////////////////

.page-header-film {
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  padding-top: 80px;
  background: black;
  background-size: cover;
  background-position: center center;
  position: relative;

  @media only screen and (min-width: $ipad-width) {
    padding-top: 0;
  }

  img {
    width: 100%;
    transition: all 0.5s ease-in-out;

    &.slow {
      opacity: 0;
    }
  }

  .video-button {
    //hier de css voor de videoknop, z-index voor het contrast ::before
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 2;
  }

  &.contrast {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%);
      z-index: 1;
      pointer-events: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(40deg, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0) 48%);
      pointer-events: none;
    }
  }

  .header-content-wrapper {
    bottom: 0;
    left: 0;
    // position: absolute;
    right: 0;
    z-index: 2;
    padding: 42px 0;
  }

  .home & {
    padding-top: 0;
    height: 85vh;
    max-height: 900px;
    /* stylelint-disable no-descending-specificity */
    .header-content-wrapper {
      top: 66%;
      bottom: 0;
      position: absolute;

      .cta-bar__content {
        color: $wit;
      }
    }
  }

  .single-films & {
    background-image: none !important;
  }
}

.cta-bar {
  bottom: 0;
  // position: absolute;
  transition: background 0.5s ease-in-out;
  border-bottom: 1px solid transparent;
  margin-bottom: 0;

  &__content {
    color: $black1;
    // color: $film-header-color;
    font-weight: 500;
    // text-shadow: 2px 2px 7px rgba(10, 4, 3, 0.765);
    margin-bottom: 0;

    h2,
    h1 {
      margin: 0;
      color: currentColor;
      // color: $film-header-color;
      text-transform: none;
      letter-spacing: 0.01em;
      transition: all 0.5s ease-in-out;

      a {
        color: currentColor;
      }
    }

    .film-info {
      display: flex;
      text-transform: uppercase;
      transition: all 0.5s ease-in-out;
      min-height: 30px;

      .label {
        @include label_style();
      }
    }

    &__right {
      display: flex;
      align-items: center;
    }

    .wp-block-button__link {
      background-color: $black1;
      color: $wit;
      // color: $black1;
      // border-color: transparent;
      transition: all 0.5s ease-in-out;
      text-shadow: none;
      font-weight: 600;
      margin-bottom: 0;
      margin-top: 5px;

      &:hover {
        background-color: transparent;
        border-color: currentColor;
        color: currentColor;
        // background-color: $black1;
        // color: $wit;
      }
    }

    .home & {
      margin-bottom: 6rem;

      .wp-block-button__link {
        color: #ddd;
        background-color: rgba(225, 222, 222, 0.3);
        border-color: transparent;
        transition: all 0.5s ease-in-out;
        text-shadow: none;
        font-weight: 600;
        margin-bottom: 0;
        margin-top: 5px;

        &:hover {
          background-color: $wit;
          color: $black1;
        }
      }
    }
  }

  &.active {
    background-color: $navigation-background;
    z-index: 100;
    position: fixed;
    padding-bottom: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    margin-left: auto;
    margin-right: auto;

    // &::after {
    //   content: "";
    //   transform: scaleX(1.19) scaleY(1.1);
    //   background-color: #eee8e2;
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   right: 0;
    //   bottom: 0;
    //   z-index: -1;
    // }

    .cta-bar__content {
      color: $brand-primary;
      text-shadow: none;

      h1 {
        color: $brand-primary;
      }

      .film-info {
        display: none;

        @media only screen and (min-width: $ipad-width) {
          display: block;
        }
      }
    }

    &.smaller {
      margin-top: 0 !important;
      max-height: 150px !important;

      // .cta-bar__content {
      //   h1 {
      //     font-size: 2em;
      //   }

      //   .film-info {
      //     font-size: 1em;
      //   }
      // }
    }
  }
}

@media only screen and (min-width: $ipad-width) { //1024
  // hier de verandereringen boven ipad
  .cta-bar {
    bottom: 70%;

    &__content {
      display: flex;
      justify-content: space-between;

      .home & {
        margin-bottom: 6rem;
        justify-content: end;
      }

      &_right {
        align-self: flex-end;
      }
    }

    &.active {
      .cta-bar__content {
        h1 {
          color: $brand-primary;
          font-size: 2em;
        }
      }

      &.smaller {
        max-height: 200px !important;
      }
    }
  }

  .page-header-film {
    max-height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .home & {
      height: 100vh;

      .header-content-wrapper {
        bottom: auto;
      }
    }
  }
}

@media only screen and (max-width: $ipad-width) { //1024
  // hier de verandereringen beneden ipad
  .cta-bar {
    .cta-bar__content {
      .film-info {
        font-size: 18px;
      }
    }

    &.smaller {
      .cta-bar__content {
        h1 {
          font-size: 28px;
        }

        .film-info {
          font-size: 1px;
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop-xl-width) {
  // hier de verandereringen boven laptop
}
