/////////////
//
// Films pagina
//
////////////////////

.page-header-film {
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  height: 70vh;
  max-height: 350px;
  background-size: cover;
  background-position: center center;
  position: relative;

  .video-button {
    //hier de css voor de videoknop, z-index voor het contrast ::before
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 2;
  }

  &.contrast {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%);
      z-index: 1;
      pointer-events: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(40deg, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0) 48%);
      pointer-events: none;
    }
  }

  .header-content-wrapper {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 2;
    padding: 42px 0;
  }

  .home & {
    height: 85vh;
    max-height: 900px;

    .header-content-wrapper {
      top: 66%;
      bottom: 0;
    }
  }

  .cta-bar {
    bottom: 0;
    position: absolute;
    transition: background 0.5s ease-in-out;
    border-bottom: 1px solid transparent;
    margin-bottom: 0;

    &__content {
      color: $film-header-color;
      font-weight: 500;
      text-shadow: 2px 2px 7px rgba(10, 4, 3, 0.765);

      h2,
      h1 {
        margin: 0;
        color: $film-header-color;
        text-transform: none;
        letter-spacing: 0.01em;
        transition: all 0.5s ease-in-out;

        a {
          color: $film-header-color;
        }
      }

      .film-info {
        display: flex;
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
        min-height: 30px;

        .label {
          @include label_style();
        }
      }

      &__right {
        display: flex;
        align-items: center;
      }

      .wp-block-button__link {
        color: $black1;
        border-color: transparent;
        transition: all 0.5s ease-in-out;
        text-shadow: none;
        font-weight: 600;
        margin-bottom: 0;
        margin-top: 5px;

        &:hover {
          background-color: $black1;
          color: $wit;
        }
      }

      .home & {
        margin-bottom: 6rem;

        .wp-block-button__link {
          color: #ddd;
          background-color: rgba(225, 222, 222, 0.3);
          border-color: transparent;
          transition: all 0.5s ease-in-out;
          text-shadow: none;
          font-weight: 600;
          margin-bottom: 0;
          margin-top: 5px;

          &:hover {
            background-color: $wit;
            color: $black1;
          }
        }
      }
    }

    &.active {
      background-color: $navigation-background;
      z-index: 100;

      .cta-bar__content {
        color: $brand-primary;
        text-shadow: none;

        h1 {
          color: $brand-primary;
        }
      }

      &.smaller {
        margin-top: 0 !important;
        max-height: 150px !important;

        // .cta-bar__content {
        //   h1 {
        //     font-size: 2em;
        //   }

        //   .film-info {
        //     font-size: 1em;
        //   }
        // }
      }
    }
  }
}

@media only screen and (min-width: $ipad-width) { //1024
  // hier de verandereringen boven ipad
  .cta-bar {
    bottom: 70%;

    &__content {
      display: flex;
      justify-content: space-between;

      .home & {
        margin-bottom: 6rem;
        justify-content: end;
      }

      &_right {
        align-self: flex-end;
      }
    }

    &.active {
      .cta-bar__content {
        h1 {
          color: $brand-primary;
          font-size: 2em;
        }
      }

      &.smaller {
        max-height: 200px !important;
      }
    }
  }

  .page-header-film {
    max-height: 100%;

    .home & {
      height: 100vh;

      .header-content-wrapper {
        bottom: auto;
      }
    }
  }
}

@media only screen and (max-width: $ipad-width) { //1024
  // hier de verandereringen beneden ipad
  .cta-bar {
    .cta-bar__content {
      .film-info {
        font-size: 18px;
      }
    }

    &.smaller {
      .cta-bar__content {
        h1 {
          font-size: 28px;
        }

        .film-info {
          font-size: 1px;
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop-xl-width) {
  // hier de verandereringen boven laptop
}
