/////////////
//
// Films pagina
//
////////////////////

.page-header-film {
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  position: relative;

  .video-button {
    //hier de css voor de videoknop
    position: absolute;
    top: 45%;
    left: 50%;
  }

  &.contrast {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(40deg, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0) 48%);
    }
  }

  .header-content-wrapper {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 2;
    padding: 42px 0;
  }

  .home & {
    height: 85vh;

    .header-content-wrapper {
      top: 66%;
      bottom: auto;
    }
  }

  .cta-bar {
    bottom: 0;
    position: absolute;
    margin: 0;
    transition: background 0.5s ease-in-out;
    border-bottom: 1px solid transparent;

    &__content {
      color: $film-header-color;
      font-weight: 500;
      text-shadow: 2px 2px 7px rgba(10, 4, 3, 1);

      .home & {
        margin-bottom: 6rem;
      }

      h2,
      h1 {
        margin: 0;
        color: $film-header-color;
        text-transform: none;
        transition: all 0.5s ease-in-out;
      }

      .film-info {
        display: flex;
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;

        .label {
          @include label_style();
        }
      }

      &__right {
        display: flex;
        align-items: flex-end;
      }

      .wp-block-button__link {
        color: $black1;
        background-color: $wit;
        font-size: 1.125em;
        transition: all 0.5s ease-in-out;
        text-shadow: none;
        font-weight: 600;
        margin-bottom: 0;
        margin-top: 5px;

        &.info {
          background-color: rgba(207, 205, 205, 0.6);
          color: $wit;
          border-color: $dynamic-dark;
        }
      }
    }

    &.active {
      background-color: $navigation-background;
      border-bottom: 1px solid darken($navigation-background, 30);
      z-index: 100;

      .cta-bar__content {
        color: $brand-primary;
        margin-bottom: 0;
        text-shadow: none;

        h1 {
          color: $brand-primary;
        }
      }

      &.smaller {
        margin-top: 0 !important;
        max-height: 150px !important;

        // .cta-bar__content {
        //   h1 {
        //     font-size: 2em;
        //   }

        //   .film-info {
        //     font-size: 1em;
        //   }
        // }
      }
    }
  }
}

@media only screen and (min-width: $ipad-width) { //1024
  // hier de verandereringen boven ipad
  .cta-bar {
    &__content {
      display: flex;
      justify-content: space-between;

      .home & {
        margin-bottom: 6rem;
      }
    }

    &.active {
      .cta-bar__content {
        h1 {
          color: $brand-primary;
          font-size: 2em;
        }
      }

      &.smaller {
        max-height: 200px !important;
      }
    }
  }
}

@media only screen and (max-width: $ipad-width) { //1024
  // hier de verandereringen beneden ipad
  .cta-bar {
    .cta-bar__content {
      .film-info {
        font-size: 18px;
      }
    }

    &.smaller {
      .cta-bar__content {
        h1 {
          font-size: 28px;
        }

        .film-info {
          font-size: 1px;
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop-xl-width) {
  // hier de verandereringen boven laptop
}
