// TODO: .banner .nav li {}
// TODO: .banner .nav a {}
header#masthead {
  position: absolute;
  width: 100%;
  transition: background 0.7s ease-in-out;

  .home & {
    position: fixed;
  }

  &.active {
    background-color: rgba(0, 0, 0, 0.897);
  }
}

//vreemd dat dit moet maar ja. Is de spacer van de GSOC
.pin-spacer {
  pointer-events: none;
  margin: 0;

  #cta-bar {
    pointer-events: initial;
    margin: 0;
  }
}

#site-content {
  margin-top: $top-marge-transparant;
}

header.site-header {
  padding: 10px 0;
  z-index: 1000;
  position: relative;

  ///////////////////////////
  //
  // header container main indeling
  //
  ////////////////////////////////
  .container {
    max-width: $header-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .brand {
      background-image: url("../images/logo_diap.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 350px;
      max-width: 50%;
      height: 80px;
      margin-top: 30px;
      display: block;
      font-size: 0;
      align-self: center;
      transition: all 0.5s ease-in-out;

      &.small {
        height: 50px;
      }

      .template-agenda & {
        background-image: url("../images/logo_diap.svg");
      }
    }

    .hamburger {
      display: flex;
      justify-self: flex-end;
      align-items: center;
      padding: 0;
      color: $black1;
      border-bottom: 1px solid transparent;
      margin-left: 20px;

      &-title {
        font-weight: 600;
        margin-right: 15px;
        text-transform: uppercase;
      }

      &-inner {
        background-color: $black1;

        &::after,
        &::before {
          background-color: $black1;
        }
      }

      &:hover {
        opacity: 1;
        border-bottom: 1px solid $black1;
      }

      &.is-active {
        opacity: 1;
        color: $black1;

        .hamburger-title {
          text-shadow: none;
          color: $black1;
        }

        .hamburger-inner {
          background-color: $black1;
          box-shadow: none;

          &::after,
          &::before {
            background-color: $black1;
            box-shadow: none;
          }
        }

        &:hover {
          border-bottom: 1px solid $black1;
        }
      }

      .template-agenda & {
        opacity: 1;
        color: $black1;

        .hamburger-inner {
          background-color: $black1;

          &::after,
          &::before {
            background-color: $black1;
          }
        }

        &:hover {
          border-bottom: 1px solid $black1;
        }
      }
    }

    /* stylelint-disable no-descending-specificity */
    .nav-primary {
      justify-self: flex-end;
      display: flex;
      padding: 8px 18px 5px 0;

      li {
        display: block;
        transition-duration: 0.4s;
        float: left;
        position: relative;
      }

      ul.nav {
        margin: 0;
        padding: 0;
        list-style-type: none;

        > li {
          display: none;
          margin-left: 0;
          padding: 0;
          font-weight: 600;

          > a {
            text-transform: uppercase;
            padding: 5px 10px;
            color: $black1;
            text-decoration: none;
            font-size: 18px;
            letter-spacing: 0.02em;
          }

          &.cta {
            display: inline-block;

            > a {
              background-color: $wit;
              color: $black1;
              border: 1px solid $wit;
              transition: all 0.3s;
              text-shadow: none !important;

              &:hover {
                background-color: $black1;
                border-color: $black1;
                color: $wit !important;
              }
            }
          }

          &:hover,
          &.current-menu-item,
          &.current-menu-parent {
            //border-top: 1px solid $special-gray;
          }
        }
      }

      ul li ul {
        visibility: hidden;
        opacity: 0;
        display: block;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 25px;
        margin-left: 0;
        width: max-content;
        left: 0;
        background: $brand-primary;
        padding: 10px 20px 20px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
        z-index: 1;

        &::before {
          content: "";
          width: 0;
          height: 0;
          border-bottom: 10px solid $special-gray;
          border-right: 10px solid transparent;
          position: absolute;
          top: -10px;
          left: 30px;
        }

        li {
          color: #fff;
          font-weight: normal;
          clear: both;
          width: 100%;
          font-size: 0.85em;
          margin-left: 0;

          a {
            color: #fff;
            text-decoration: none;
            display: block;
            width: 100%;
            transition: all 0.2s;

            &:hover {
              margin-left: 4px;
            }
          }
        }
      }

      ul li:hover > ul,
      ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
      }
    }

    .search-header-icon {
      display: none;
      background: none;
      color: $wit;
      padding-top: 0;
      padding-left: 15px;
      padding-right: 3px;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.3);
      }

      .menu-open &,
      .template-agenda & {
        color: $black1;
      }
    }
  }

  .home & {
    &::after {
      background: $navigation-background-color;
      box-shadow: 0 0 26px $grijs;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: all 0.5s;
      z-index: -1;
    }
  }

  .home &,
  .single-films & {
    .container {
      .brand {
        background-image: url("../images/logo.svg");
      }

      .hamburger {
        &-title {
          font-weight: 600;
          margin-right: 15px;
          text-transform: uppercase;
          text-shadow: 2px 2px 7px #0a0403c4;
          color: $wit;
        }

        &-inner {
          background-color: $wit;
          box-shadow: 2px 2px 7px #0a0403c4;

          &::after,
          &::before {
            background-color: $wit;
            box-shadow: 2px 2px 7px #0a0403c4;
          }
        }

        &:hover {
          opacity: 1;
          border-bottom: 1px solid $wit;

          .hamburger-inner {
            background-color: $wit;

            &::after,
            &::before {
              background-color: $wit;
            }
          }
        }
      }

      .search-header-icon {
        display: none;
        background: none;
        color: $wit;
        padding-top: 0;
        padding-left: 15px;
        padding-right: 3px;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.3);
        }

        .menu-open &,
        .template-agenda & {
          color: $black1;
        }
      }
    }
  }
}

.transparant {
  header.site-header {
    &::after {
      opacity: 0;
    }

    &.collapsed {
      &::after {
        opacity: 1;
      }
    }
  }

  &.achtergrond {
    header.site-header:not(.collapsed) {
      .container {
        .search-header-icon {
          background: none;
        }
      }
    }
  }

  #site-content {
    margin-top: 0;
  }

  .page-header,
  .wp-block-indrukwekkend-header-woning,
  .wp-block-indrukwekkend-header-slider {
    padding-top: $top-marge-transparant;
  }
}

/////////////
//
// Mobile navigation Containers
//
////////////////////

.mobile-navigation-container {
  display: block;
  width: 100vw;
  height: 100%;
  background: $festival-grijs;
  overflow: scroll;
  position: fixed;
  padding-top: 100px;
  padding-left: 0;
  top: 0;
  left: 0;
  z-index: 10;
  transform: translateX(100vw);
  transition: all ease-in-out 0.45s;

  &.start {
    display: none;
  }

  &.open {
    transform: translateX(0);
    width: 100vw;
  }

  .menu-top-menu-container {
    margin-top: 10px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        a {
          color: $dark-grey;
          border-bottom: 1px solid transparent;
          text-decoration: none;
          display: inline-block;
          padding: 0 5px;
          font-size: 0.8em;

          &:hover {
            border-bottom: 1px solid darken($grijs, 20);
            color: darken($grijs, 20);
          }
        }
      }
    }
  }
}

//
//@include page header
//

.page-header {
  h1 {
    margin-top: 8rem;
    color: $brand-primary;
  }

  #breadcrumb {
    margin-top: 5px;
  }
}

@media only screen and (min-width: $ipad-width) {
  //768
  header.site-header .container {
    // hier de verandereringen boven mobile
    .nav-primary {
      ul.nav {
        margin: 0;

        > li {
          margin-bottom: -10px; //??

          > a {
            font-size: inherit;
            padding: 10px 30px;
          }
        }
      }
    }

    .hamburger {
      padding-left: 12px;
      //padding-right: 12px;
      padding-bottom: 4px;

      &-title {
        display: block;
      }
    }

    // Search
    .search-header-icon {
      // display: block;
    }
  }

  .mobile-navigation-container {
    &.open {
      transform: translateX(50vw);
      width: 50vw;
    }
  }
}

@media only screen and (min-width: $desktop-small-width) {
  //1024
  // hier de verandereringen boven laptop
}

@media only screen and (min-width: $desktop-xl-width) {
  header.site-header {
    .container {
      max-width: $header-extra-width;
    }
  }
}
