// home page slider vandaag..
.vandaag-slider {
  background: var(--wp--preset--color--festival-grijs);
  padding-top: 1px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  min-height: 257px;

  h2 {
    font-weight: normal;
    font-size: 3rem;
    text-transform: none;
    color: $black1;
    margin-bottom: 1rem;
    display: inline-block;

    .alles {
      font-size: 0.6em;
      font-weight: normal;
    }
  }

  a.agenda {
    color: $black1;
    text-decoration: none;
    margin-left: 20px;
    position: relative;
    z-index: 100;
    display: inline-block;

    &::after {
      transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0s;
      border-bottom: 2px dotted white;
      bottom: 0;
      content: "";
      height: 2px;
      width: 0;
      left: 50%;
      position: absolute;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  .dagslider {
    list-style: none;
  }

  li.ticket {
    // Extend button style
    @include card-outside-slider();

    background-color: $wit;
  }

  a.bestellen {
    background-color: $brand-primary;
    color: #fff;
  }
}

.slick-prev,
.slick-next {
  height: auto;
  width: auto;
}

.slick-prev {
  left: -70px;
}

.slick-prev::before,
.slick-next::before {
  font-size: 50px;
  line-height: 1;
  color: #fff;
  opacity: 1;
  content: "\f053";
  font-family: "Font Awesome 5 Pro", sans-serif;
  font-weight: 300;
}

.slick-next::before {
  content: "\f054";
}

@media only screen and (min-width: $ipad-width) { //768

  .vandaag-slider {
    background: linear-gradient(0deg, rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    margin-top: -250px;
    margin-bottom: 60px;

    h2 {
      font-weight: normal;
      font-size: 3rem;
      text-transform: none;
      color: $wit;
      margin-bottom: 1rem;

      .alles {
        font-size: 0.6em;
        font-weight: normal;
      }
    }

    a.agenda {
      color: $wit;
    }

    .container {
      margin-bottom: 0;
    }

    li.ticket {
      // Extend button style
      @include card-in-vandaag-slider();

      background-color: transparent;
    }
  }
}
